<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Admission Not Approved</title>

<style>

body{
font-family:Arial;
background:#f5f5f5;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.card{
background:white;
padding:40px;
border-radius:10px;
box-shadow:0 0 10px #ddd;
text-align:center;
width:500px;
}

h2{
color:red;
}

a{
display:inline-block;
margin-top:20px;
padding:10px 20px;
background:#0d6efd;
color:white;
text-decoration:none;
border-radius:5px;
}

</style>

</head>
<body>

<div class="card">

<h2>Admission Not Approved</h2>

<p th:text="${error}"></p>

<a th:href="@{/indexStudent}">
Back
</a>

</div>

</body>
</html>